aiogram==3.22.0
aiogram.contrib==1.1.4 # Agar eski kod ishlatilgan bo'lsa qoldiriladi
magic-filter==1.0.12
python-telegram-bot==22.5
psycopg2-binary==2.9.11
# Agar kerak bo'lmasa, olib tashlang
contourpy==1.2.0
crispy==0.7.4
cycler==0.12.1
et_xmlfile==2.0.0
fabio==2023.10.0
h5py==3.10.0
hdf5plugin==4.3.0
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.2
numpy==1.26.2
openpyxl==3.1.5
python-dateutil==2.8.2
silx==1.1.2
sortedcontainers==2.4.0
